<form class="example-form">
	<mat-form-field >
		<mat-label>Car Model Name</mat-label>
		<input matInput placeholder="Car Model Name" >
	</mat-form-field>
	
	<mat-form-field >
		<mat-label>Favorite food</mat-label>
		<mat-select>
			<mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
				{{manufacturer.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	
	<mat-form-field >
		<mat-label>Color</mat-label>
		<input matInput placeholder="Color" >
	</mat-form-field>
	
	<mat-form-field >
		<mat-label>Registration Number</mat-label>
		<input matInput placeholder="Registration Number" >
	</mat-form-field>
	
	<mat-form-field >
		<mat-label>Note</mat-label>
		<textarea matInput placeholder="Note"></textarea>
	</mat-form-field>
	
		<label for="singleFile">Upload file</label>
		<input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
		<br>
		<mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'" [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">
			<mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
		</mat-file-upload-queue>
	
	<button mat-button color="primary" (click)="save()">Primary</button>
	
</form>