<form class="example-form">
	<mat-form-field >
		<mat-label>Car Model Name</mat-label>
		<input matInput placeholder="Car Model Name" >
	</mat-form-field>
	
	<mat-form-field >
		<mat-label>Manufacturer Name</mat-label>
		<mat-select>
			<mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
				{{manufacturer.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	
	<mat-form-field >
		<mat-label>Color</mat-label>
		<input matInput placeholder="Color" >
	</mat-form-field>
	
	<mat-form-field >
		<mat-label>Registration Number</mat-label>
		<input matInput placeholder="Registration Number" >
	</mat-form-field>
	
	<mat-form-field >
		<mat-label>Note</mat-label>
		<textarea matInput placeholder="Note"></textarea>
	</mat-form-field>
	
	<button md-raised-button color="primary" (click)="fileInput.click(); $event.preventDefault()">Upload</button>
	<input hidden type="file" #fileInput (change)="fileChangeEvent($event)">
	<img id="preview" [src]="imgpreview" alt="Preview">
	
	<button mat-button color="primary" (click)="save()">Save</button>
	
</form>
